<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.pritus.dresta.umrah">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".HajiPlusActivity"
            android:exported="false" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:exported="false"
            android:value="DISABLE" />

        <receiver android:name="com.onesignal.BootUpReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.onesignal.UpgradeReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.onesignal.GcmBroadcastReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.onesignal.NotificationOpenedActivityHMS"
            android:exported="true"/>
        <activity
            android:name=".ManasikActivityNew"
            android:exported="false"/>
        <activity
            android:name=".LupassActivity"
            android:exported="false"/>
        <activity
            android:name=".DetailBeritaActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_berita"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".ArtikelActivity"
            android:exported="false"
            android:label="@string/title_activity_artikel"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".RiwayatActivity"
            android:exported="false"
            android:label="@string/title_activity_riwayat"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".AkunActivity"
            android:exported="false"
            android:label="@string/title_activity_akun"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".JadwalActivity"
            android:exported="false"
            android:label="@string/title_activity_jadwal"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".DetailProgramActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_program"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".ProgramActivity"
            android:exported="false"
            android:label="@string/title_activity_program"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".DetailItineraryActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_itinerary"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".ItineraryActivity"
            android:exported="false"
            android:label="@string/title_activity_itinerary"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".TesActivity"
            android:exported="false"
            android:label="@string/title_activity_tes"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".RegisterJamaahActivity"
            android:exported="false"
            android:label="@string/title_activity_register_jamaah"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".PilihActivity"
            android:exported="false"
            android:label="@string/title_activity_pilih"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".WActivity"
            android:exported="false"
            android:label="@string/title_activity_w"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".DoaActivity"
            android:exported="false"
            android:label="@string/title_activity_doa"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".ManasikActivity"
            android:exported="false"
            android:label="@string/title_activity_manasik"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".LegalitasActivity"
            android:exported="false"
            android:label="@string/title_activity_legalitas"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".WebActivity"
            android:exported="false"/>
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".ProdukActivity"
            android:exported="false"
            android:label="@string/title_activity_produk"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".salat.SalatActivity"
            android:exported="false"
            android:label="@string/title_activity_salat"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".ToolsActivity"
            android:exported="false"/>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login"
            />
        <activity
            android:name=".slider.customize.CustomizeActivity"
            android:exported="false"/>
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:exported="false"/>
        <activity
            android:name=".TestimoniActivity"
            android:exported="false"/>
        <meta-data
            android:name="preloaded_fonts"
            android:exported="false"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>